@charset "utf-8";
body {
  font-family: "Microsoft yahei";
  background-color: #f4f4f4;
  max-width: 750px;
  margin: 0 auto;
}
.ProfitUp {
  background-color: #ef444c;
}
.ProfitDown {
  background-color: #24cbb9;
}
.schemeName {
  position: relative;
  padding: 0.2rem 0.25rem;
  font-size: 0.34rem;
  color: #fff;
  text-align: center;
}
.schemeName a{
  position: absolute;
  left:.25rem;
  top:.23rem;
  width: 0.3rem;
  height: 0.3rem;
  overflow: hidden;
  text-indent: -999rem;
  background: url(http://hs.3g.cnfol.com/uj/Imgs/Tvlater/viewHome.png) no-repeat left center;
  background-size:auto 100%;
}
.itermView {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25rem 0;
  background-color: #fff;
}
.itermView li {
  width: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.itermView li:after{
  content:'';
  width: 1px;
  height: 50%;
  position: absolute;
  top: 25%;
  right: 0;
  display: block;
  background-color: #ccc;
}
.itermView li:last-child:after{
  display: none;
}
.itermView a {
  display: inline-block;
  color: #333;
  font-size: 0.28rem;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 0.55rem;
}
.itermView .comment {
  background-size: 75% auto;
  background-image: url(../imgs/comment.png);
}
.itermView .consult {
  background-size: 75% auto;
  background-image: url(../imgs/consult.png);
}
.itermView .renew {
  background-size: 80% auto;
  background-image: url(../imgs/renew.png);
}
/*****************滑块css********************/
.tzIfo {
  font-size: .3rem;
  padding: .3rem 0;
  text-align: center;
  margin-top: 0.2rem;
  background-color: #fff;
}
.tzIfo span {
  color: #ed444b;
}
.sliderWrp {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  padding: 0 .25rem;
  width: 7rem;
  background-color: #fff;
}
.slidTil {
  display: inline-block;
  margin-right: .22rem;
  font-size: .24rem;
  line-height: .26rem;
  vertical-align: top;
}
.slider {
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  position: relative;
  margin-top: .12rem;
  border-top: 1px solid #d4d4d4;
  cursor: pointer;
}
.slider p {
  margin-top: -0.02rem;
  width: 0%;
  height: 1px;
  line-height: 0;
  overflow: hidden;
  background: #7fa7fe;
}
.slider span {
  position: absolute;
  width: .15rem;
  height: .32rem;
  top: -0.17rem;
  left: 0%;
  background: #7fa7fe;
  border-radius: .03rem;
}
.slider .axis {
  padding-top: .26rem;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
}
.slider .axis li {
  position: relative;
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  text-align: center;
  font-size: .18rem;
  color: #666;
}
.slider .axis li:after {
  position: absolute;
  top: -0.1rem;
  left: 50%;
  content: " ";
  width: 1px;
  height: .08rem;
  line-height: 0;
  overflow: hidden;
  background: #666;
}
.slider .axis li:nth-child(1) {
  text-align: left;
}
.slider .axis li:nth-child(1):after {
  left: 2px;
}
.slider .axis li:last-child {
  text-align: right;
}
.slider .axis li:last-child:after {
  left: auto;
  right: 5px;
}
.tansLft {
  transition: left .5s;
}
.tansW {
  transition: width .5s;
}
/*****************End 滑块css********************/
.mapPie {
  width:7rem;
  *zoom: 1;
  padding:0 .25rem 0.3rem;
  background-color: #fff;
}
.mapPie:before,
.mapPie:after {
  display: table;
  content: "";
  line-height: 0;
}
 .mapPie:after {
  clear: both;
}
.mapPie canvas{
  width:3rem;
  height:3rem;
  margin-right:.15rem;
  float:left;
}
.mapList {
  width: 55%;
  float: right;
  display: inline;
  color: #666;
  font-size: 0.26rem;
}
.mapList li {
  height: 0.5rem;
  line-height: 0.5rem;
  padding-left: 0.2rem;
}
.mapList span {
  display: inline-block;
  vertical-align: top;
}
.mapList .toopPic {
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0.15rem;
  margin-right: 0.2rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.mapList .num01 {
  border: 2px solid #e9f0ff;
  background-color: #9cbafd;
}
.mapList .num02 {
  border: 2px solid #fbd6d8;
  background-color: #ef444c;
}
.mapList .num03 {
  border: 2px solid #dadde6;
  background-color: #55668c;
}
.mapList .num04 {
  border: 2px solid #fff1db;
  background-color: #fdbd59;
}
.mapList .num05 {
  border: 2px solid #dbe3f4;
  background-color: #5c7fcc;
}
.mapList .num06 {
  border: 2px solid #e0e9fc;
  background-color: #739bf1;
}
.listContains{
  margin-top: 0.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding:.05rem 0.5rem 0;
}
.listContains a {
  display: inline-block;
  width: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: hidden;
  height: 0.6rem;
  font-size: 0.3rem;
  line-height: 0.6rem;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.listContains a.active {
  border-bottom: 1px solid #ee3676;
  color: #ee3676;
}
.listWrp{
  width: 100%;
  overflow: hidden;
}
.listContent{
  width: 300%;
  background: #fff;
  overflow: hidden;
}
.listExpert{
  float: left;
  width: 7rem;
  overflow: hidden;
  padding: 0 0.25rem;
}
.listExpert li{
  *zoom: 1;
  border-bottom: 1px solid #ddd;
  padding: 0.3rem 0;
  color:#999;
  font-size: .26rem;
}
.listExpert li a{color:#999;}
.listExpert li .avatar{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  overflow: hidden;
}
.listExpert li .avatar img{
  width:1rem;
  height:1rem;
  border-radius: 50%;
}
.listExpert li .dect{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 5.65rem;
  padding-left:.25rem;
  text-align: justify;
}
.listExpert li .experNm{
  font-size: .32rem;
  line-height: .5rem;
  color:#333;
}
.listExpert li p{padding-top:.15rem;}
.listExpert li .time{
  position: absolute;
  top:0;
  right:0;
}
.listExpert li.Mor{
  padding:0;
  height:.6rem;
  line-height: .6rem;
  text-align: center;
  overflow: hidden;
  background: #eee;
}
.transLft{
  transition:margin 1s;
}
#mainMap {
  width: 100%;
  height: 3rem;
  position: relative;
}